body {
    background-color: sandybrown ;
  
}

#pets {
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
  
  .card {
    background-color: white;
    width: 30%;
    margin-top: 10px;
    margin-bottom: 10px;
    color: maroon;
    text-align: center;
  }
  
  .card img {
    height: 200px;
    width: 200px;
    }

  .main-image {
    display: flex;
    justify-content: center;
  }


  
  #buttons {
    display: flex;
    justify-content: center;
  }

  #dino {
    background-color: maroon;
    color: white;
    font-size: 16px;
    padding: 15px 32px;
    border: none;
    text-decoration: none;
    margin-right: 4px;
       
    } 

#cat {
  background-color: maroon;
  color: white;
  font-size: 16px;
  padding: 15px 32px;
  text-align: center;
  border: none;
  text-decoration: none;
  margin-right: 4px;
  
  }

#dog {
  background-color: rgb(221, 3, 3);
  color: white;
  font-size: 16px;
  padding: 15px 32px;
  border: none;
  text-decoration: none;
  margin-right: 4px;
  
  }

#All {
  background-color: maroon;
  color: white;
  font-size: 16px;
  padding: 15px 32px;
  border: none;
  text-decoration: none;

  }

  .welcome {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
  }

  .intro {
    display: flex;
    justify-content: center;
}

.welcome-text {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
  }

  .footer {
    display: flex;
    justify-content: center;
}

.main-title {
    display: flex;
    justify-content: center;
}

